<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.CommentMapper">
    <sql id="allFieldsExceptId">
        user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>

    <sql id="allFields">
        id, <include refid="allFieldsExceptId"></include>
    </sql>

    <select id="selectComments" resultType="Comment">
        select <include refid="allFields"></include>
        from comment
        <where>
            <if test="entityId != -1">
                entity_id = #{entityId}
            </if>

            <if test="entityType != -1">
                and entity_type = #{entityType}
            </if>

            <if test="userId != -1">
                and user_id = #{userId}
            </if>
        </where>
        order by create_time desc
        limit #{limit} offset #{offset}
    </select>

    <select id="selectCommentsCounts">
        select count(id)
        from comment
        <where>
            <if test="entityId != -1">
                entity_id = #{entityId}
            </if>

            <if test="entityType != -1">
                and entity_type = #{entityType}
            </if>

            <if test="userId != -1">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <insert id="insertComment" parameterType="Comment" keyProperty="id">
        insert into comment(<include refid="allFieldsExceptId"></include>)
        values(#{userId}, #{entityType}, #{entityId}, #{targetId}, #{content}, #{status}, #{createTime})
    </insert>
</mapper>